body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color:aliceblue;
    font-family: sans-serif;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 0 400px;
    
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
    margin-right: auto;
}

.links {
    display: flex;
}

a{
    text-decoration: none;
    margin: 10px;
    font-weight: lighter;
    color: #e5e7eb;
    font-size: 18px;
}

.main-hero {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 60px 400px;
}

.main-hero-text {
    margin-right: auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.main-hero img {
    margin-left: 40px;
}

button {
    background-color: #3883f6;
    color: white;
    padding: 4px 20px;
    border: 5px white;
    border-radius: 8px;
    max-width: 90px;
}

.main-hero-bigt {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.main-hero-smallt {
    color: #e5e7eb;
    font-size: 18px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.info-header {
    display: flex;
    justify-content: center;
    font-size: 38px;
    font-weight: bolder;
    color: #1f2937
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
}

.card {
    flex: 1 1 auto;
    border: none;
    max-width: 275px;
}

.card img {
    border-radius: 30px;
}

